@font-face {
    font-family: 'Arista';
    src: url('../css/Arista.ttf') format('truetype');    
}

@font-face {
    font-family: 'Arista-light';
    src: url('../css/Arista%20light.ttf') format('truetype');    
}

ul#agenda, ul.eventList {list-style-type: none;}

ul#agenda li {margin-bottom: 20px}

ul.eventList li{
    width:320px;
    margin:10px;
    display : inline-block;
    vertical-align : top;
}

header{
    color: white;
    background: #299FE8;/*#5baee1;*/
    margin:0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 40px;
    z-index: 100;
}

header #title{
    background : url('../img/logo.png') no-repeat center;
    background-size: contain;
    height : 160px;    
    width: 100%;
    min-height: 40px;
}

header.minified #title{
    height: 40px!important;
}

header nav#menu{
    height:40px;
    position: relative;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

header nav#menu span.action{
    margin : 0 10px;
}

.action{    
    cursor: pointer;
}

header.minified nav#menu{
    display: none;
}

header div#minimenu{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding-left: 24px;
    background : url('../img/picto/menu48-90.png') no-repeat left;
    background-size: contain;
    cursor: pointer;
}

header.minified div#minimenu{
    display:block;
}

header.minified div#minimenu.closed{
    background : url('../img/picto/menu48.png') no-repeat left;
    background-size: contain;
}

header #connect, header #connected{
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

header #connect{
    background : url('../img/picto/log-in.png') no-repeat right;
}

header #connected{
    padding-right: 5px;
    margin: 4px 10px;
}

header img.avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

main{margin-top: 230px}

section.day{
    background-color: #F5F5F5;
}

div.eventDay{
    font-family: Arista;
    color: #12254b;
    font-size: 32px;
    margin : 10px;
}

div.eventDay div.day{
    font-size: 128px;
    line-height: 96px;
    float: left;
}

div.eventDay div.month{
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    writing-mode: lr-tb;
    font-size: 42px;
    width: 96px;
    float: left;
    line-height: 42px;
    margin: 21px -32px 0px;
    color: #5baee1;
}

ul.eventList{
    padding-left: 200px;
}

ul.eventList article {
    height: 102px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 3px;
}

div.eventPicture{
    float : left;
    height: 100px;
    width: 100px;
    background: url('../img/resto/default.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    color: white;
    font-size: 18px;
    position: relative;
    border-radius: 3px 0px 0px 3px;
}

div.eventPicture timer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

div.eventDetail{
    float: left;
    width: 208px;
    position: relative;
    height: 98px;
}

div.eventName{
    font-family: Arista-light;
    color: #12254b;
    font-size: 20px;
    overflow: hidden;
    height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.restaurantName{
    background: url('../img/picto/where.png') no-repeat left;
    padding-left : 20px;
}

div.eventDate{
    background: url('../img/picto/clock.png') no-repeat left;
    padding-left : 20px;
}

div.attendees{
    color: #12254b;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    background: url('../img/picto/attendee.png') no-repeat right;
    padding-right: 18px;
    padding-top: 2px;
}

div.join,div.quit{
    color: #12254b;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../img/picto/add.png') no-repeat left;
    padding-left: 18px;
    padding-top: 2px;
}

div.quit{
    background: url('../img/picto/remove.png') no-repeat left;
}

div.joinclosed{
    color: #9E9E9E;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../img/picto/lock.png') no-repeat left;
    padding-left: 18px;
    padding-top: 2px;
}


@media (max-width:890px){

    ul.eventList article{
        width: 220px;
        height: 208px;
    }

    ul.eventList li{
        width:220px;
    }

    div.eventPicture{
        clear: both;
        width: 100%;
    }

    div.eventDetail{
       margin-left:10px; 
       height:105px;
   }

}
