<!DOCTYPE html>
<html lang="fr" ng-app="proxiMiamApp">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="../favicon.ico">
        <title>ProxiMiam</title>        
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/proximiam.css">
        <script src="../js/vendor/angular.js"></script>
        <script src="../js/vendor/angular-locale_fr.js"></script>
        <script src="../js/vendor/angular-timer.js"></script>
        <script src="../js/vendor/jquery-2.1.4.min.js"></script>
        <script src="../js/proximiam.js"></script>
        <script>
            function manageScroll(){
                if ($(window).scrollTop()<120){
                    $('header div#title').css("height", (160-$(window).scrollTop())+"px");
                    $('header').removeClass('minified');
                    $('header').removeAttr("style");
                    $('#menu').removeAttr("style");

                } else {
                    $('header').addClass('minified');
                    if ($("#menu").is(":visible")){
                        $('#minimenu').removeClass('closed');
                    } else{
                        $('#minimenu').addClass('closed');
                    }
                }
            };

            $(window).bind("scroll",function(){manageScroll();});
            $(document).ready(function(){
                manageScroll();
                
                $("#minimenu").click(function(){
                    if ($(this).hasClass("closed")){
                        $(this).removeClass("closed");
                    }else{
                        $(this).addClass("closed");
                    }
                    $("#menu").slideToggle();
                });
            });
        </script>
    </head>
    <body>
        <header>
            <div id="title"></div>
            <div id="minimenu">
                menu
            </div>
            <nav id="menu">
                <span id="accueil" class="action">Accueil</span>
                <span id="restos" class="action">Restos</span>
                <span id="evenements" class="action">Évènements</span>
            </nav>
            <div id="connect" class="action">Je me connecte</div>
        </header>
        <div ng-controller="eventCtrl" id="content">
            <main ng-show="agenda.length">
                <ul id="agenda">
                    <li ng-repeat="day in agenda | orderBy:'date'">
                        <section class="day">
                            <div class="eventDay">
                                <div class="day">
                                    {{day.date | date:'dd'}}
                                </div>
                                <div class="month">
                                    {{day.date | date:'MMM'}}
                                </div>
                            </div>
                            <div class="events">
                                <ul class="eventList">
                                    <li ng-repeat="event in day.events">
                                        <article class="event" ng-style="isPassed('{{event.eventdate}}') && {'opacity':'0.50'}">
                                            <div class="eventPicture" ng-style="'{{event.restaurant.image}}'!='' && {'background-image':'url(../img/resto/{{event.restaurant.image}})'}">
                                                <timer end-time="event.joindeadline" ng-show="isToday(event.joindeadline) && !isPassed(event.joindeadline)" interval="1000">
                                                    {{hhours}}:{{mminutes}}:{{sseconds}}
                                                </timer>
                                            </div>
                                            <div class="eventDetail">
                                                <div class="eventName">{{event.eventname}}</div>
                                                <div class="restaurantName">{{event.restaurant.name}}</div>
                                                <div class="eventDate">{{event.eventdate | date:'shortTime'}}</div>
                                                <div class="attendees">{{event.attendee.length}}</div>
                                                <div class="join" ng-show="!isPassed(event.joindeadline)">J'y vais !</div>
                                                <div class="joinclosed" ng-show="isPassed(event.joindeadline)">Inscriptions fermées</div>
                                            </div>
                                        </article>
                                    </li>
                                <ul>
                            </div>
                        </section>
                    </li>
                <ul>
                
            </main>
        </div>
    </body>
</html>